{% extends 'base_detail.html' %}
{% load staticfiles %}
{% block location %}
  ><a href="{% url 'blog:list' tag=tag page=1 %}">{{ tag.name }}</a>
  ><a href="{% url 'blog:detail' blog_id=blog.id %}">{{ blog}}</a>
{% endblock location %}
{% block body %}
    <div class="blogbox">
      <div class="contentbox">
        <h2 class="contitle">{{ blog.title }}</h2>
        <p class="bloginfo"><span>{{ blog.author }}</span><span>{{ blog.created_time }}</span><span><a href="{% url 'blog:list' tag=tag page=1 %}">{{ tag }}</a></span></p>
        <div class="entry">
          <p><img src="{{ blog.img.url }}"></p>
          <p>{{ blog.body|safe }}</p>
        </div>
        <div class="nextinfo">
          <p>上一篇：<a href="{% if not blog_previous == '没有了' %}{% url 'blog:detail' blog_id=blog_previous.id %}{% endif %}">{{ blog_previous.title }}</a></p>
          <p>下一篇：<a href="{% if not blog_next == '没有了' %}{% url 'blog:detail' blog_id=blog_next.id %}{% endif %}">{{ blog_next.title }}</a></p>
        </div>
      </div>
      <div class="viewbox">
        <h2 class="newstitle"><b>随便看看</b></h2>
	 	 <ul>
          <li><a href="https://developers.weixin.qq.com/doc/offiaccount/Message_Management/Receiving_standard_messages.html"><i><img src="HTTP://121.196.59.213:8888/group1/M00/00/00/rBB3P17aNbSARoELAAAcaTXbQuw668.jpg"></i>
            <p>微信开发文档</p></a></li>
          <li><a href="https://developers.alipay.com/developmentAccess/developmentAccess.htm"><i><img src="HTTP://121.196.59.213:8888/group1/M00/00/00/rBB3P17aNUyAbvpTAAAe4UBEAY8088.jpg"></i>
            <p>支付宝开发文档</p></a></li>
          <li><a href="http://doc.redisfans.com/#"><i><img src="HTTP://121.196.59.213:8888/group1/M00/00/00/rBB3P17aNdCAd_bXAAAd8UZejvA107.jpg"></i>
            <p>redis数据库</p></a></li>
          <li><a href="https://flask.palletsprojects.com/en/1.1.x/"><i><img src="HTTP://121.196.59.213:8888/group1/M00/00/00/rBB3P17aNfyAHlriAAAeXpSfE9E884.jpg"></i>
            <p>flask文档</p></a></li>
        </ul>
	  </div>
      
      <div class="pinlun">
       <h2 class="newstitle"><b>评论</b></h2>
        <div class="gbok">
          {% if comments != None %}
            {% for comment in comments %}
              <div style="border-bottom:1px solid #dbdcde; margin-bottom:15px;">
                <h3>{{ comment.name }}<div class="right" style="float:right;font-size:13px;margin-right:10px;">{{ comment.created_time }}</div></h3>
                <p style="margin:10px 0 10px 20px;">{{ comment.body }}</p>
              </div>
            {% endfor %}
          {% else %}
            <div style="border-bottom:1px solid #dbdcde; margin-bottom:15px;">
            <p style="margin-left:15px; margin-top:5px;">欢迎各位小伙伴评论留言</p>
            </div>
          {% endif %}
          <button id="cmt" style="border:1px,solid,green; background:#3DB; width:140px; height:55px; display:block; border-radius:14px; font-size:26px; 
            line-height:55px; text-align:center; margin-top:10px; margin-left:10px; margin-top:10px; cursor:pointer; outline:none;">添加评论</button>
          <div>
            {% comment %} 评论表 {% endcomment %}
            <form id="new_comment" action="{% url "blog:newcomment" %}" style="display:none; margin-top:15px; border:1px solid grey; padding:8px;"  method="post">
                {% csrf_token %}
                {# 用户名字段 #}
                <div class="control-group">
                    <label class="control-label" for="id_name">昵称： </label>
                    <div class="controls">
                        <input type="text" id="id_name" class="input-xlarge" style=" width:180px; font-size:15px; padding:5px;" name="name" placeholder="请输入您的用户名" value="{{ user.username }}" />
                    </div>
                </div>
            
                {# 邮箱地址字段 #}
                <div class="control-group">
                    <label class="control-label" for="id_email">邮箱： </label>
                    <div class="controls">
                        <input type="email" id="id_email" class="input-xlarge" style=" width:180px; font-size:15px; padding:5px;" name="email" placeholder="请输入您的邮箱地址"/>
                    </div>
                </div>
            
                {# 评论内容 #}
                <a name="newcomment" id="newcomment"></a>
                <div class="control-group">
                    <label class="control-label" for="id_comment">评论： </label>
                    <div class="controls">
                        <textarea rows="6" id="id_comment" class="input-xlarge comment" style="width:70%; font-size:15px; padding:5px; " name="comment" placeholder="请输入评论内容"></textarea>
                    </div>
                </div>

                {# 隐藏菜单，传输blog_id，用于保存数据 #}
                <input type="text" name="blog_id" style="display:none;" value="{{ blog.id }}">
                {# 隐藏菜单，传输blog_id，用于url回访 #}
                <input type="text" name="path" style="display:none;" value="blog/{{ blog.id }}">

                {# 表单按钮 #}
                <div class="controls">
                    <div class="form-actions">
                        <input class="btn btn-info" id="submit_btn" type="submit" name="submit" value="提交"/>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>  
    </div>
{% endblock body %}
{% comment %} 目录 {% endcomment %}
{% block toc %}
  {% if blog.toc %}
    <div class="news">
      <h2 class="newstitle"><b>目录</b></h2>
      <ul>
        {{ blog.toc|safe }}
      </ul>
    </div>
    {% endif %}
{% endblock toc %}
{% comment %} 最热门排行 {% endcomment %}
{% block hot %}
  {% for blog in hot_blogs %}
    <li><a href="{% url 'blog:detail' blog.id %}"><span>{{ blog.visiting }}</span>{{ blog.title }}</a></li>
  {% endfor %}
{% endblock hot %}
{% comment %} 专栏热门推荐 {% endcomment %}
{% block comment %}
  {% for blog in tag_top_blogs %}
    <li><a href="{% url 'blog:detail' blog.id %}"><span>{{ blog.visiting }}</span>{{ blog.title }}</a></li>
  {% endfor %}
{% endblock comment %}
{% comment %} 专栏最新推荐 {% endcomment %}
{% block new %}
  {% for blog in tag_new_blogs %}
    <li><a href="{% url 'blog:detail' blog.id %}"><span>{{ blog.created_time|date:'y-m-d' }}</span>{{ blog.title }}</a></li>
  {% endfor %}
{% endblock new %}
{% block bottomfiles %}
  <script src='{% static "js/jquery.min.js" %}'></script>
{% endblock bottomfiles %}
{% block bottom %}
  <script>
    $("#cmt").click(function(){
      $(this).css({"display":"none"});
      $("#new_comment").css({"display":"block"});
    })
        $("#submit_btn").click(function(){
      name = $("#id_name").val();
      email = $("#id_email").val();
      body = $("#id_comment").val();
      if (name==""){
        alert("请输入用户名")
      }
      if (body==""){
        alert("请输入内容")
      }
    })
  </script>
{% endblock bottom %}
  
